Repository wheremadnesstakesus/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:js, npm run fix:css

.lintstagedrc:

{
  "*.js": ["npm run fix:js"],
  "*.{css,postcss}": ["npm run fix:css"]
}

chore: update node version and yarn.lock
  .nvmrc
  yarn.lock
Due: none

chore: update node version and yarn.lock (#1)
  .nvmrc
  yarn.lock
Due: none

chore: update version
  package.json
Due: none

chore: use netlify instead now
  TODO.md
  netlify.toml
  now.json
Due: none

chore: update version (#2)
  package.json
Due: none

chore: use netlify and update code
  .eslintignore
  .gitignore
  .lintstagedrc
  content/posts/2019/invierno-y-frio-en-furgoneta-camper/index.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgineta-vanlife-inspiracion-comenzamos-aventuras/index.md
  gatsby-node.js
  src/components/Featured/Featured.js
  src/components/FeaturedList/FeaturedList.js
  src/components/Footer/Footer.js
  src/components/PostsList/PostList.js
  src/components/SEO/SEO.js
  src/fragments.js
  src/hooks/useLatestPosts.js
  src/templates/Post.js
Due: npm run fix:js

chore: use netlify instead of now (#3)
  .eslintignore
  .gitignore
  .lintstagedrc
  TODO.md
  content/posts/2019/invierno-y-frio-en-furgoneta-camper/index.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgineta-vanlife-inspiracion-comenzamos-aventuras/index.md
  gatsby-node.js
  netlify.toml
  now.json
  src/components/Featured/Featured.js
  src/components/FeaturedList/FeaturedList.js
  src/components/Footer/Footer.js
  src/components/PostsList/PostList.js
  src/components/SEO/SEO.js
  src/fragments.js
  src/hooks/useLatestPosts.js
  src/templates/Post.js
Due: npm run fix:js

feature/add analytics (#4)
  .env.sample
  .gitignore
  gatsby-config.js
  git
  package.json
  src/components/SEO/SEO.js
  src/hooks/useInstagram.js
  yarn.lock
Due: npm run fix:js

chore: add article abot jose and fede
  bin/cli.js
  bin/help.js
  content/posts/2017/lorem-ipsum/hero.jpg
  content/posts/2017/lorem-ipsum/index.md
  content/posts/2018/ruta-en-coche-por-normandia/hero.jpg
  content/posts/2018/ruta-en-coche-por-normandia/index.md
  content/posts/2018/testing-a-blog-post/hero.jpg
  content/posts/2018/testing-a-blog-post/index.md
  content/posts/2019/baku-capital-de-azerbaiyan/hero.jpg
  content/posts/2019/baku-capital-de-azerbaiyan/index.md
  content/posts/2019/baku-capital-de-azerbaiyan/test.jpg
  content/posts/2019/experiencia-viajar-vegetariana/hero.jpg
  content/posts/2019/experiencia-viajar-vegetariana/index.md
  content/posts/2019/experiencia-viajar-vegetariana/test.jpg
  content/posts/2019/hospedando-a-furgoneteros/hospedando.jpg
  content/posts/2019/hospedando-a-furgoneteros/index.md
  content/posts/2019/invierno-y-frio-en-furgoneta-camper/another-image.jpg
  content/posts/2019/invierno-y-frio-en-furgoneta-camper/index.md
  content/posts/2019/lorem-ipsum/hero.jpg
  content/posts/2019/lorem-ipsum/index.md
  content/posts/2019/parque-acional-de-gobustan/hero.jpg
  content/posts/2019/parque-acional-de-gobustan/index.md
  content/posts/2019/parque-acional-de-gobustan/test.jpg
  content/posts/2019/planes-de-futuro/article-image.png
  content/posts/2019/planes-de-futuro/index.md
  content/posts/2019/que-hacer-en-moscu-en-dos-dias/hero.jpg
  content/posts/2019/que-hacer-en-moscu-en-dos-dias/index.md
  content/posts/2019/que-hacer-en-moscu-en-dos-dias/test.jpg
  content/posts/2019/que-hacer-kutaisi-georgia/index.md
  content/posts/2019/que-hacer-kutaisi-georgia/test.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgineta-vanlife-inspiracion-comenzamos-aventuras/index.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.md
  src/fragments.js
  src/templates/Post.js
  yarn.lock
Due: npm run fix:js

feat: add sitemap and fix small things (#6)
  gatsby-config.js
  package.json
  src/components/Heading/Heading.js
  src/components/Layout/Layout.js
  src/fragments.js
  src/pages/Home/Home.js
  src/templates/PagePost.js
  yarn.lock
Due: npm run fix:js

feat: add sitemap and fix small things
  gatsby-config.js
  package.json
  src/components/Heading/Heading.js
  src/components/Layout/Layout.js
  src/fragments.js
  src/pages/Home/Home.js
  src/templates/PagePost.js
  yarn.lock
Due: npm run fix:js

fix: some fixs with css
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/images/nuestra-primera-furgoneta_il-nostro-primo-van.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/images/nuestro-viaje_il-nostro-viaggio.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/images/plano-flowerneta_piantina-flowerneta.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/images/preparando-la-mudanza_preprando-il-trasloco.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/images/ya-tenemos-nuestra-flowerneta_ecco-la-flowerneta.jpg
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.md
  gatsby-config.js
  src/assets/styles/shared.css
  src/components/Heading/Heading.module.css
  src/components/Post/Post.module.css
  src/components/TopNav/TopNav.module.css
Due: npm run fix:js, npm run fix:css

chore: remove unused home
  gatsby-config.js
  src/components/PostsList/PostList.js
  src/components/PostsList/PostList.module.css
  src/pages/Home/Home.js
  src/pages/Home/Home.module.css
  src/pages/Home/index.js
  src/pages/index.js
Due: npm run fix:js, npm run fix:css

wip
  netlify.toml
  src/pages/test.js
Due: npm run fix:js

wip
  netlify.toml
Due: none

wip
  .gitignore
  netlify.toml
Due: none

wip
  _redirects
  netlify.toml
Due: none

wip
  _redirects
Due: none

feat: add a basic approach to i18n
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.es.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.it.md
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/Footer/Footer.js
  src/components/Heading/Heading.js
  src/components/Layout/Layout.js
  src/components/PostCard/PostCard.js
  src/components/PostsList/PostList.js
  src/components/TopNav/TopNav.js
  src/fragments.js
  src/helpers/daysBetween.js
  src/helpers/index.js
  src/i18n/es.js
  src/i18n/it.js
  src/pages/index.es.js
  src/pages/index.it.js
  src/pages/index.js
  src/templates/PagePost.js
  yarn.lock
Due: npm run fix:js

feat: improve language and translations
  gatsby-node.js
  src/components/Layout/Layout.js
  src/components/PostCard/PostCard.js
  src/components/PostsList/PostList.js
  src/components/TopNav/TopNav.js
  src/components/TopNav/TopNav.module.css
  src/i18n/es.js
  src/i18n/it.js
  src/pages/index.es.js
  src/pages/index.it.js
  src/templates/PagePost.js
Due: npm run fix:js, npm run fix:css

feat: improve copyright and footer
  src/components/Footer/Footer.js
  src/components/Layout/Layout.js
  src/components/TopNav/TopNav.js
  src/i18n/es.js
  src/i18n/it.js
Due: npm run fix:js

fix: use copyright and builtwith in posts
  src/templates/PagePost.js
Due: npm run fix:js

feat: add a basic approach to i18n (#7)
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.es.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.it.md
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/Footer/Footer.js
  src/components/Heading/Heading.js
  src/components/Layout/Layout.js
  src/components/PostCard/PostCard.js
  src/components/PostsList/PostList.js
  src/components/TopNav/TopNav.js
  src/components/TopNav/TopNav.module.css
  src/fragments.js
  src/helpers/daysBetween.js
  src/helpers/index.js
  src/i18n/es.js
  src/i18n/it.js
  src/pages/index.es.js
  src/pages/index.it.js
  src/pages/index.js
  src/templates/PagePost.js
  yarn.lock
Due: npm run fix:js, npm run fix:css

feat: add a new post talking about us
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.es.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.it.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-influencer_l-influencer.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-jardinero_il-pollice-verde.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-manitas_il-ciappinaro.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-sonador_il-sognatore.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-aventurera_l-avventuriera.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-cocinillas_la-chef.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-deportista_la-sportiva.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-desordenada_la-disordinata.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-devoradora-de-libros_la-divoratrice-di-libri.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/los-locos_il-matto-da-legare.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.es.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/quien-esta-detras-de-donde-la-locura-nos-lleve.jpg
  src/pages/test.js
Due: npm run fix:js

feat: add a new post talking about us (#8)
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.es.md
  content/posts/2020/nos-vamos-a-vivir-a-una-furgoneta-furgoneta/index.it.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-influencer_l-influencer.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-jardinero_il-pollice-verde.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-manitas_il-ciappinaro.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/el-sonador_il-sognatore.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-aventurera_l-avventuriera.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-cocinillas_la-chef.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-deportista_la-sportiva.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-desordenada_la-disordinata.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/la-devoradora-de-libros_la-divoratrice-di-libri.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/images/los-locos_il-matto-da-legare.jpg
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.es.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/quien-esta-detras-de-donde-la-locura-nos-lleve.jpg
  src/pages/test.js
Due: npm run fix:js

fix: update title for new italian post (#9)
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
Due: none

fix: update title for new italian post
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
Due: none

feat: por europa y mas alla
  content/posts/2020/por-europa-y-mas-alla/images/cafe_van_gogh.jpg
  content/posts/2020/por-europa-y-mas-alla/images/canones-del-sil.jpg
  content/posts/2020/por-europa-y-mas-alla/images/cinque-terre.jpg
  content/posts/2020/por-europa-y-mas-alla/images/la-flowerneta-va-al-medico_la-flowerneta-va-dal-dottore.jpg
  content/posts/2020/por-europa-y-mas-alla/images/llegamos-a-lisboa_siamo-arrivati-a-lisbona.jpg
  content/posts/2020/por-europa-y-mas-alla/images/parc-natural-de-lalt-pirineu.jpg
  content/posts/2020/por-europa-y-mas-alla/images/peneda-geres.jpg
  content/posts/2020/por-europa-y-mas-alla/images/ponta-da-piedade.jpg
  content/posts/2020/por-europa-y-mas-alla/images/praia-do-amado.jpg
  content/posts/2020/por-europa-y-mas-alla/images/rocchetta-nervina.jpg
  content/posts/2020/por-europa-y-mas-alla/images/saliendo_partenza.jpg
  content/posts/2020/por-europa-y-mas-alla/images/sevilla.jpg
  content/posts/2020/por-europa-y-mas-alla/index.es.md
  content/posts/2020/por-europa-y-mas-alla/index.it.md
Due: none

feat: por europa y mas all
  content/posts/2020/por-europa-y-mas-alla/por-europa-y-mas-alla.png
  src/i18n/es.js
Due: npm run fix:js

feat: update banner for europe travel
  content/posts/2020/por-europa-y-mas-alla/index.es.md
  content/posts/2020/por-europa-y-mas-alla/index.it.md
  content/posts/2020/por-europa-y-mas-alla/por-europa-y-mas-alla.jpg
  content/posts/2020/por-europa-y-mas-alla/por-europa-y-mas-alla.png
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
  src/components/PostsList/PostList.js
  src/templates/PagePost.js
Due: npm run fix:js

fix: fix sumary text
  content/posts/2020/quien-esta-detras-de-donde-la-locura-nos-lleve/index.it.md
Due: none

fix: add images in spanish post
  content/posts/2020/por-europa-y-mas-alla/index.es.md
Due: none

fix: update photo
  content/posts/2020/por-europa-y-mas-alla/index.es.md
  content/posts/2020/por-europa-y-mas-alla/index.it.md
Due: none
